@model IEnumerable<Locar.Models.Carro>

@{
    ViewData["Title"] = "Carros Cadastrados";

    var controller = "Carro";
}

<h3 class="titulo">
    <i class="fas fa-car fa-lg"></i> Carros Cadastrados &nbsp;
    <a asp-action="Create" asp-controller="Carro" class="btn btn-outline-secondary btn-lg" data-toggle="tooltip"
       data-placement="right" title="Novo Carro"> <i class="fas fa-plus-circle"></i></a>
</h3>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="cartoes">
                <div class="card">
                    <img src="@Url.Content(item.Foto)" class="card-img-top img-fluid" />
                    <div class="card-body">
                        <h5 class="card-title"> @item.Marca - @item.Nome </h5>
                        <h5><span class="badge badge-secondary"> R$ @item.PrecoDiaria,00</span></h5>
                    </div>
                    <div class="card-footer">
                        
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Edit" asp-controller="Carro" asp-route-id="@item.CarroId"
                               class="btn btn-outline-info btn-lg"> Atualizar</a>

                            <a class="btn btn-outline-danger btn-lg"
                           onclick="ConfirmarExclusao(@item.CarroId, '@item.Nome', '@controller')"> Excluir</a>
                        }
                        else
                        {
                        <a asp-action="AluguelCarro" asp-controller="Aluguel" asp-route-CarroId="@item.CarroId"
                           asp-route-PrecoDiaria="@item.PrecoDiaria"
                           class="btn btn-outline-info btn-block"> Alugar Veículo</a>
                        }
                    </div>
                </div>
            </div>
        </div>
     }
</div>

<partial name="_ModalExclusao" />


@section Scripts{
    <script>

        /*function ExibirModal() {
            $('[data-toggle="tooltip"]').tooltip();
        }*/
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })


        function ConfirmarExclusao(id, nome, controller) {
            $(".Nome").html(nome);

            $(".modal").modal("show");

            $(".btnExcluir").on("click", function () {
                var url = "/" + controller + "/Delete/";

                console.log("Clique em excluir");

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function (data) {
                        alert("Registro Excluido");

                        // $(".modal").modal('hide');
                        location.reload();
                    }
                });
            });

        }

    </script>
}
